h1.svelte-1lnbbhd{margin-block-start:0;padding-top:0.67em}
.page-container.svelte-1exr31h{position:relative;min-height:100vh}.content-wrap.svelte-1exr31h{padding-bottom:3rem}footer{position:absolute;bottom:0;width:100%;height:2.5rem}
